.benefits-section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0 47px 0;
  }  
}

// .benefits-section__list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;
// }

// .benefits-section__item {
//   flex-basis: calc((100% - 90px) / 4);
// }
@media screen and (max-width: 766px) {
  .benefits-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}


.benefits-section__wrap {
  @include size(100%, 120px);
  padding: 25px 190px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: $list-background-color;

  @media screen and (min-width: $desktop) {
    @include size(270px, 120px);
    padding: 25px 100px;
  } 
}

.benefits-section__title {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14);
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: $tablet) {
    text-align: center;
  }
}

.benefits-section__desc {
  color: $desc-color;
  line-height: 1.71;
}
