@media screen and (max-width: 767px) {
  .header__dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
  
    background-color: $white-color;
    z-index: 5;
    transform: translateX(100%);
    transition: transform $time-function;
  
    &.is-open {
      transform: translateX(0);
    }
  
    .header__icon {
      display: none;
    }
  }
  
  .nav__list {
    margin-bottom: 302px;

    @media screen and (max-width: 380px) {
      margin-bottom: 150px;
    }
  }
  
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .nav__link {
    color: $title-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  
    transition: color $time-function;
  
    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--current {
      color: $accent-color;
    }

    @media screen and (max-width: 479px) {
      font-size: 30px;
    }
  }

  .header__contacts {
    margin-bottom: 64px;
  }
  
  .header__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  .header__contact {
    color: $desc-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  
    &--blue {
      font-size: 34px;
      color: $accent-color;
    }

    @media screen and (max-width: 479px) {
      &--blue {
        font-size: 30px;
      }
    }
  }  

  .menu-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .menu-social-list__item {
    &:not(:last-child) {
      border-right: 1px solid $border-input-form;
      padding-right: 10px;
    }
  }
  
  .menu-social-list__link {
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}


