@media screen and (min-width: $tablet) {
  .nav {
    display: flex;
    align-items: center;
    // margin-left: 87px;
    // margin-left: 93px;
  }
  
  .nav__list {
    display: flex;
  }
  
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: $title-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
  
    transition: color $time-function;
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  
  .nav__link--current {
    position: relative;
  
    color: $accent-color;
  
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
  
      display: inline-block;
      @include size(100%, 4px);
  
      background: $accent-color;
      border-radius: 2px;
    }
  }
  
}
