.team-section {
  background-color: $list-background-color;
}

.team-section__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.team-section__item {
  background-color: $white-color;
  box-shadow: $shadow-img;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $mobile) {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 766px) {
      margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-section__container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team-section__title {
  margin-bottom: 10px;

  @include font(500, 16px, 1.19);
}

.team-section__desc {
  margin-bottom: 16px;

  color: $desc-color;
  font-size: 16px;
  line-height: 1.19;
}
