.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity $time-function 250ms;

  @include size(100%, 100%);
  background-color: $backdrop;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.85);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: scale $time-function;

  padding: 40px;
  width: 320px;
  border-radius: 4px;

  background-color: $white-color;
  box-shadow: $shadow-modal;

  @media screen and (min-width: $mobile) {
    min-width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;

  @include font(700, 20px, 1.5);
  text-align: center;

  @media screen and (min-width: $desktop) {
    @include font(700, 20px, 1.15);
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &-textarea {
    margin-bottom: 20px;
  }
}

.form__wrap {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $time-function;
}

.form__label {
  margin-bottom: 4px;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $desc-color;
}

.form__input,
.form__textarea {
  outline: none;
  @include size(100%, 40px);
  padding: 0 0 0 42px;
  border-radius: 4px;

  @include border(1px, solid, $border-input-form);
  transition: border $time-function;

  &:focus,
  &:hover {
    border-color: $accent-color;
    cursor: pointer;
  }
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: $accent-color;
}

.form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  transition: border $time-function;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $placeholder-text-color;
  }
}

.checkbox {
  @extend %flex;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input:hover ~ .checkbox__icon-wrap > .checkbox__uncheked,
.checkbox__input:focus ~ .checkbox__icon-wrap > .checkbox__uncheked {
  fill: $accent-color;
}

.checkbox__desc {
  margin-right: 8px;

  line-height: 1.17;
  color: $desc-color;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.71;
  }
}

.checkbox__input:checked + .checkbox__icon-wrap > .checkbox__cheked {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__icon-wrap > .checkbox__unchecked {
  opacity: 0;
}

.checkbox__icon-wrap {
  position: relative;
  margin-right: 8px;
}

.checkbox__uncheked {
  opacity: 1;
  transition: opacity $time-function, fill $time-function;
}

.checkbox__cheked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity $time-function;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__link {
  line-height: 1.17;
  color: $accent-color;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.71;
  }
}
