@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin border($w, $st, $color) {
  border-width: $w;
  border-style: $st;
  border-color: $color;
}
