// @mixin mobile {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: 767px) {
//   @content;
// }
// }

// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//   @content;}
// }


@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin border($w, $st, $color) {
  border-width: $w;
  border-style: $st;
  border-color: $color;
}
