$section-background-color: #2f303a;
$hero-background-color: #c4c4c4;
$list-background-color: #f5f4fa;
$footer-socials-background: rgba(255, 255, 255, 0.1);
$activity-thumb-background: rgba(47, 48, 58, 0.8);
$backdrop: rgba(0, 0, 0, 0.2);
$project-overlay: rgba(33, 150, 243, 0.9);

$title-color: #212121;
$desc-color: #757575;
$white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$activ-btn-color: #188ce8;
$dark-logo-color: #000000;
$border-project-color: #eeeeee;
$border-header-color: #ececec;
$border-close-button: rgba(0, 0, 0, 0.1);
$border-input-form: rgba(33, 33, 33, 0.2);
$border-input-footer: rgba(255, 255, 255, 0.3);
$social-icon-color: #afb1b8;
$placeholder-text-color: rgba(117, 117, 117, 0.5);

$hero-linear-gradient: rgba(47, 48, 58, 0.4);

$shadow-img: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$shadow-btn: rgba(0, 0, 0, 0.15);
$shadow-filter-btn: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-projects-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$main-text-style: "Roboto", sans-serif;
$secondary-text-style: "Raleway", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
